
# ── Database ──────────────────────────────────────────────────────────────────
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=require

# ── Elasticsearch ─────────────────────────────────────────────────────────────
ES_BASE_URL=
ES_USERNAME_B64=
ES_PASSWORD_B64=

# ── Kafka ─────────────────────────────────────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ── Auth ──────────────────────────────────────────────────────────────────────
AUTH_TOKEN=
